*, *:before, *:after {
    box-sizing: border-box;
}

body {
    background-color: rgb(201, 240, 238);
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background: rgb(148, 192, 190);
}
header h1 {
    margin: 0;
    padding: 2rem 0;
}

#content {
    text-align: center;
}

.arrow {
    position: absolute;
    top: 9rem;
    
    cursor: pointer;
    user-select: none;

    padding: 1.5rem;
    border-radius: 12px;
    background: teal;
}

.arrow:hover {
    background: rgb(29, 182, 182);
}

.arrow:active {
    background: rgb(54, 212, 212);
}

#arrow-left {
    left: calc(-3.5rem + 1ch);
}

#arrow-right {
    right: calc(-3.5rem + 1ch);
}

#image-carousel-window-outer {
    position: relative;

    margin-top: 3rem;
    display: inline-block;
    width: 40rem;
    height: 25rem;
    background: white;
}
#image-carousel-window-inner {
    position: relative;

    display: inline-block;
    width: 36rem;
    height: 21rem;
    margin-top: 2rem;

    overflow: hidden;
}

#image-carousel-window-outer,
#image-carousel-window-inner {
    border: thin solid #ccc;
}

#nav-dots {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    padding: 1rem 0;

    background: rgba(204, 204, 204, 0.25);
}

#images-wide {
    position: relative;
    left: calc(-36rem * 0);

    display: grid;
    grid-template-columns: repeat(auto-fit, 36rem);
    grid-template-rows: 21rem;
    width: calc(36rem * 15);
}
.image-container {
    display:inline-block;
    max-width: 36rem;
    max-height: 100%;
}

.carousel-image {
    max-width: 100%;
    max-height:100%;
}