*, *:before, *:after {
    box-sizing: border-box;
}



body {
    background-color: rebeccapurple;
    padding: 0;
    margin: 0;
}

#wrapper {
    display: grid;
    grid-template-columns: 35ch 1fr;
    grid-template-rows: minmax(100vh, 1fr);
}

#sidebar {
    color: white;
}

#content {
    background: white;
}
#content-contents,
#content-header {
    max-width: 85ch;
}

#sidebar,
#content {
    padding: 2.2rem;
}

#sidebar>h2 {
    margin-top: 0;
}

#content-header h1 {
    margin: 0 0 1rem 0;
}

#sidebar-header {
    display: grid;
    grid-template-columns: 10ch 1fr;
    gap: 1rem;
    align-items: center;
}

#projects {
    display: grid;
    gap: 0.5rem;
}

.active-project button {
    background: #fba4fb;
}

.project-nav {
    font-size: 1rem;
    display: grid;
    grid-template-columns: 1fr 6ch;
    align-items: center;
    gap: 1rem;
}

.project-nav-button {
    font-size: 1rem;
}

#content-header {
    display: grid;
    grid-template-columns: 50ch 1fr;
    align-items: center;
}

/* #todos-header {

} */

#button-delete-project {
    margin-bottom: 1rem;
}

#todos-menu {
    text-align: right;
    margin-bottom: 1rem;
}

.todo {
    border: thin solid #ccc;
    border-radius: 5px;
    margin-bottom: 2rem;
}

.todo>* {
    padding-left: 1rem;
    padding-right: 1rem;
}

.todo-header {
    display: grid;
    grid-template-columns: 1fr 15ch;
    gap: 1rem;
    align-items: center;
}
.todo .todo-notes {
    padding-left: 3rem;
}

.todo .todo-title {
    font-size: 2rem;
    margin-top: 0.75rem;
    margin-bottom: 0.5rem;
}

.todo .todo-due-date {
    background: #eee;
    font-size: 1.2rem;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.todo .todo-priority {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.todo .todo-priority-1 { background: red; }
.todo .todo-priority-2 { background: orange; }
.todo .todo-priority-3 { background: yellow; }
.todo .todo-priority-4 { background: greenyellow; }
.todo .todo-priority-5 { background: yellowgreen; }

.todo .todo-description {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.todo .todo-notes {
    color: #888;
    margin-top: 0;
}
.todo .todo-note {
    margin-bottom: 0.25rem;
}

.dialog-label-input {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
}

.dialog-header h3,
.dialog-close {
    margin: 0 0 1rem 0;
}

.dialog-header {
    display: grid;
    grid-template-columns: 1fr 3ch;
    gap: 2rem;
    align-items: center;
}

.dialog-close {
    border-radius: 50%;
}

#dialog-delete-todo-title {
    margin: 0 0 1rem 0;
    text-align: center;
}

#form-new-project,
#form-new-todo,
#form-confirm-project-delete,
#form-delete-todo {
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
    gap: 0.5rem;
}

#form-new-project button[type='submit'],
#form-new-todo button[type='submit'] {
    float: right;
    margin-top: 0.5rem;
}

.hidden {
    display: none;
}