*, *:before, *:after {
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 3rem;
    font-family: system-ui, sans-serif;
}

p {
    max-width: 80ch;
}

li {
    margin-bottom: 0.25rem;
}