*, *:before, *:after {
    box-sizing: border-box;
}


body {
    background-color: white;
    margin: 0;
    font-family: system-ui, sans-serif;
    text-align: center;

    --max-width: 960px;
}
h1 {
    margin: 0 auto;
}

/* Note breakpoints

phone: ?
tablet: max-width: 800?
widescreen: min-width: 1650?
*/

#wrapper {
    position: relative;
    min-height: 100vh;

    display: grid;
    grid-template-rows: repeat(auto-fill, auto);
    /* padding: clamp(0.5rem, 3vw, 3rem); */

}
li {
    margin-bottom: 0.5rem;
}

#abs-top-bg {
    position: absolute;
    height: 450px;
    width: 100%;
    top: 0;
    overflow: hidden;
}

#top-bg-block {
    position: absolute;
    display: block;
    /* display: none; */
    top: 0;
    left: 0;
    background: teal;
    width: 100%;
    height: 250px;
    z-index: -1;
}
#diag-bg {
    position: absolute;
    display: block;
    background: teal;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    transform: skewX(100deg);
    z-index: -1;

    max-width:100%;
}

@media (min-width: 1650px) {
    #diag-bg {
        left: -15vw;
    }
}

#content-wrapper {
    
    display: grid;
    grid-template-rows: 450px 1fr;
    grid-template-columns: 1fr;
}

#main-header-container {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 2rem 1fr 2rem 2rem;
    

    padding: clamp(0.5rem, 3vw, 3rem);
    max-width: clamp(500px, 90%, var(--max-width));
    margin: 0 auto;
}

#main-header-container h1 {
    grid-column: 1;
    grid-row: 3 / 5;
    margin: 0;
}

#header-headshot {
    grid-row: 1 / 5;
    grid-column: 1 / 2;
    height: 400px;
    width: 300px;
    border: thin solid red;
}
#about-me-container {
    grid-column: 2;
    grid-row: 2 / 4;
    padding: 1rem;
    background: white;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.5);
    text-align: left;
}

#project-tiles-wrapper {
    padding: clamp(0.5rem, 3vw, 3rem);
}
#project-tiles-content-wrapper {
    max-width: var(--max-width);
    margin: 0 auto 2rem auto;
}

#project-tiles-header {
    text-align: left;
    max-width: var(--max-width);
    margin: 0 auto;
    margin-bottom: 2rem;
}
#project-tiles {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    justify-content: center;
    align-items: start;
    column-gap: 2rem;
    row-gap: 1rem;

    margin: 0 auto;
}
.project-tile {
    border: thin solid #ccc;
    /* max-width: 250px; */
}


#footer-wrapper {
    background: teal;
    min-height: 250px;
    height: 100%;

    bottom: 0;
    min-width: 100%;
}

#footer-content-wrapper { 
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-top: 1rem;
    max-width: var(--max-width);
    margin: 0 auto;
}








.temp-null {
    border: thin solid red;
    min-height: 30px;
    min-width: 30px;
}