:root {
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 1rem;
    font-family: system-ui, sans-serif;
}

.gameboard {
    display: grid;
    grid-template-rows: 2.5rem repeat(11, 2.5rem);
    width: 27.5rem;
}
.gameboard-container {
    display: inline-block;
}
.gameboard-container:first-child {
    margin-right: 4rem;
}

.gameboard-container .header {
    margin: 0;
    text-align: center;
}

.y-row {
    display: grid;
    grid-template-columns: repeat(11, 2.5rem);
    justify-items: stretch;
    align-items: stretch;
}
.cell, .number-cell {
    border: thin solid #ccc;
}
.cell {
    background: rgb(174, 200, 221);
    display: grid;
    justify-content: center;
    align-content: center;
    user-select: none;
    overflow: visible; /* For ship placement */
}

.cell.hit {
    background: rgb(126 158 183);
}

.cell.hit .hit-marker,
.cell.ship-hit .hit-marker {
    padding: 0rem 0.4rem 0.1rem 0.4rem;
    border-radius: 50%;
    font-weight: 100;
}

.cell.hit .hit-marker {
    background: rgb(177, 177, 177);
    border: thin solid #777;
    color: #777;
}

.cell.ship-hit .hit-marker {
    background: #cf1717;
    border: thin solid #bbb;
    color: #bbb;
}

.number-cell {
    background: rgb(134, 175, 209);
    display: grid;
    justify-content: center;
    align-content: center;
    user-select: none;
    font-weight: 700;
}

.cell:hover {
    background: rgb(218, 226, 236);
    cursor: pointer;
}
.cell.hit:hover {
    background: rgb(191 126 144);
    cursor: auto;
}

.cell .coords {
    display: none;
    color: #777a;
    font-size: 0.75rem;
    text-align: center;
}

.cell:hover .coords {
    display: block;
}

/* .cell:hover:after {
} */