:root {
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 1rem;
    font-family: system-ui, sans-serif;

    --cell-size: 2.5rem;
}

#wrapper {
    text-align: center;
}

.gameboard {
    position: relative;
    overflow: visible;
}
.gameboard,
.ship-layer {
    display: grid;
    grid-template-rows: repeat(11, var(--cell-size));
    width: calc(11 * var(--cell-size));
}
.y-row {
    display: grid;
    grid-template-columns: repeat(11, var(--cell-size));
    justify-items: stretch;
    align-items: stretch;
}


.gameboard-container {
    position: relative;
    display: inline-block;
}
.gameboard-container:first-child {
    margin-right: 4rem;
}

.gameboard-container .header {
    margin: 0;
    text-align: center;
}

.screen,
.ship-layer {
    position: absolute;
    top: 0;
    left: 0;
    user-select: none;
    pointer-events: none;
    width: 100%;
    height: 100%;
}

.screen {
    display: inline-block;
    background: black;
    opacity: 0;
    box-shadow: 0px 0px 10px black;
}

.ship-layer {
    display: grid;

    grid-template-rows: repeat(11, var(--cell-size));
    grid-template-columns: repeat(11, var(--cell-size));
}


.cell, .number-cell {
    border: thin solid #ccc;
}
.cell {
    background: rgb(174, 200, 221);
    display: grid;
    justify-content: center;
    align-content: center;
    user-select: none;
    overflow: visible; /* For ship placement */
}

.cell.hit {
    background: rgb(126 158 183);
}

.cell.hit .hit-marker,
.cell.ship-hit .hit-marker {
    padding: 0rem 0.4rem 0.1rem 0.4rem;
    border-radius: 50%;
    font-weight: 100;
}

.cell.hit .hit-marker {
    background: rgb(177, 177, 177);
    border: thin solid #777;
    color: #777;
}

.cell.ship-hit .hit-marker {
    background: #cf1717;
    border: thin solid #bbb;
    color: #bbb;
}

.number-cell {
    background: rgb(134, 175, 209);
    display: grid;
    justify-content: center;
    align-content: center;
    user-select: none;
    font-weight: 700;
}

.cell:hover {
    background: rgb(218, 226, 236);
    cursor: pointer;
}
.cell.hit:hover {
    background: rgb(191 126 144);
    cursor: auto;
}

.cell .coords {
    display: none;
    color: #777a;
    font-size: 0.75rem;
    text-align: center;
}

.cell:hover .coords {
    display: block;
}

/* .cell:hover:after {
} */

.ship {
    font-size: 2.5rem;

    font-family: monospace;
    line-height: 2.1rem;
    font-kerning: none;
    padding-left: 0.25rem;
}

.ship.hori {
    transform: scaleX(1.675);
    transform-origin: center left;
}

.ship.vert {
    writing-mode: vertical-lr;
    padding-top: 0.25rem;

    transform-origin: top center;
    transform: scaleY(1.675);
}

.ship.length-one {
    padding: 0.2rem 0 0 0;
    transform: none;
}