*, *:before, *:after {
    box-sizing: border-box;
}


body {
    background-color: white;
    margin: 0;
    /* font-family: system-ui, sans-serif; */
    font-family: "Playfair Display", serif;
    text-align: center;

    --max-width: 960px;
    --bg-color: rgb(62, 164, 196);

    --top-level-padding: clamp(0.5rem, 3vw, 3rem);

}
h1 {
    margin: 0 auto;
}

/* Note breakpoints

phone: ?
tablet: max-width: 800?
widescreen: min-width: 1650?
*/

#wrapper {
    position: relative;
    min-height: 100vh;

    display: grid;
    grid-template-rows: repeat(auto-fill, auto);

}
li {
    margin-bottom: 0.5rem;
}

#abs-top-bg {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    overflow: hidden;
    user-select: none;
    pointer-events: none;
}

#top-bg-block {
    position: absolute;
    display: block;
    /* display: none; */
    top: 0;
    left: 0;
    background: var(--bg-color);
    width: 100%;
    height: 250px;
    z-index: -1;
}
#diag-bg {
    position: absolute;
    display: block;
    background: var(--bg-color);
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    transform: skewX(100deg);
    z-index: -1;

    max-width:100%;
}

@media (min-width: 1500px) {
    #diag-bg {
        left: -5vw;
    }
}
@media (min-width: 1650px) {
    #diag-bg {
        left: -15vw;
    }
}

#content-wrapper {
    display: grid;
    grid-template-rows: 450px 1fr;
    grid-template-columns: 1fr;
}

#main-header-container {
    /* display: grid; 
    grid-template-columns: 300px 1fr;
    grid-template-rows: 2rem 1fr 2rem 2rem; */
    
    position: relative;
    padding: var(--top-level-padding);

    width: clamp(740px, 90%, var(--max-width));
    margin: 70px auto 0 auto;
}

#main-header-container h1 {
    /* grid-column: 1;
    grid-row: 3 / 5; */
    position: absolute;
    top: 324px;
    left: 8%;
    text-align: center;

    margin: 0;
    z-index: 1;
    color:white;
    /* color: red;. */
}
@media (min-width: 1500px) {
    #main-header-container h1 {
        left: 80px;
        top: 344px;
    }
}

#header-headshot {
    position: relative;
    float: left;
    left: -22px;
    top: -70px;
    /* grid-row: 1 / 5;
    grid-column: 1 / 2; */
    /* border: thin solid red; */
    height: 400px;
    width: 300px;
}
#header-headshot img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#about-me-container {
    grid-column: 2;
    grid-row: 2 / 4;
    padding: 1rem;
    background: white;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.5);
    text-align: left;
}

#about-me-icons {
    text-align: right;
    width: 100%;
}
#about-me-icons a {
    margin: 0 0.2rem;
}

/* Tablet */
@media (max-width: 900px) { 
    #content-wrapper {
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr;
    }

    #main-header-container {
        display: block;
        /* grid-template-columns: 1fr 50px 1fr 50px;
        grid-template-rows: 3rem 1fr; */

        width: 75%;
        margin-top: 40px;
        /* border:thin solid red; */
    }
    
    #main-header-container h1 {
        text-align: right;
        top: -4px;
        left: -30px;
        width: 100%;
        display: block;
    }
    #about-me-container p {
        margin-top: 0;
    }
    
    #header-headshot {
        position: relative;
        left: -20px;
        top: -10px;
        height: 300px;
        width: 225px;

        transform-origin: bottom right;
        transform: scale(1.15);
    }
    #about-me-container {
        position: relative;
        top: 20px;
        left: 20px;
        /* width:  */
    }
    #about-me-container h2 {
        margin-top: 0;
        margin-bottom: 0.25rem;
    }

    #about-me-icons {
        text-align: center;
    }

}

/* Phone */
@media (max-width: 590px) { 
    #main-header-container {
        /* border:thin solid red; */
        width: 100%;
        margin-top: 0;
    }

    #main-header-container h1 {
        position: absolute;
        text-align: center;
        top: 280px;
        left: 0;
    }


    #about-me-container {
        left: 0;
        top: 0;
        display: flex;
        flex-wrap: wrap;
        background-color: transparent;
        box-shadow: none;
    }
    
    #about-me-container h2 {
        text-align: center;
        margin-top: 1.5rem;
        margin-bottom: 0.75rem;
        width: 100%;
    }

    

    #header-headshot {
        flex: 1 1 100%;
        position: relative;
        display: block;
        top: 0;
        left: 0;
        transform: none;
    }

    #about-me-icons {
        text-align: center;
    }
    
    #project-tiles-header h1 {
        text-align: center;
        width: 100%;
    }
}


#project-tiles-wrapper {
    padding: var(--top-level-padding);
}
#project-tiles-content-wrapper {
    max-width: var(--max-width);
    margin: 0 auto 2rem auto;
}

#project-tiles-header {
    text-align: left;
    max-width: var(--max-width);
    margin: 0 auto;
    margin-bottom: 2rem;
}
#project-tiles {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    justify-content: center;
    align-items: start;
    column-gap: 2rem;
    row-gap: 1rem;

    margin: 0 auto;
}
.project-tile {
    border: thin solid #ccc;
    /* max-width: 250px; */
}
.project-tile .fake-img {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;

    background: maroon;
}

.project-tile:nth-child(2) .fake-img { background: darkgreen; }
.project-tile:nth-child(3) .fake-img { background: darkblue; }
.project-tile:nth-child(4) .fake-img { background: darkgoldenrod; }
.project-tile:nth-child(5) .fake-img { background: darkmagenta; }
.project-tile:nth-child(6) .fake-img { background: darkorange; }

.project-tile .fake-img p {
    color: white;
}

.project-info {
    display: grid;
    width: 100%;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr auto;
    column-gap: 0.5rem;
    justify-content: center;
    align-items: center;
    padding: 1rem 0.5rem;
}

.project-info h2 {
    font-size: 1.2rem;
    text-align: left;
    margin: 0;
}
.project-info .tile-icons {
    text-align: right;
}

.project-info p {
    grid-column: 1 / 3;
    text-align: left;
    margin: 0;
    margin-top: 0.5rem;
}
#footer-wrapper {
    background: var(--bg-color);
    min-height: 250px;
    height: 100%;

    padding: var(--top-level-padding);
    bottom: 0;
    min-width: 100%;
}

#footer-content-wrapper { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* padding-top: 2rem;
    padding-bottom: 3rem; */
    max-width: var(--max-width);
    margin: 0 auto;
}

#contact {
    color: white;
    text-align: left;
    max-width: 80%;
}

#footer-headshot img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contact-me-methods p {
    display: flex;
    align-content: center;
}
.contact-me-methods p a {
    margin-right: 0.75rem;
}

#contact-socials {
    text-align: center;
}

#contact-socials a {
    margin: 0 0.2rem;
}
/* Phone */
@media (max-width: 600px) { 
    
    #contact .get-in-touch {
        text-align: left;
    }
    #contact address {
        text-align: left;
    }
    #contact p span {
        display: block;
    }
}



.temp-null {
    border: thin solid red;
    min-height: 30px;
    min-width: 30px;
}


.icon {
    /* background-color: lightgray; */
    width: 1.5rem;
    height: 1.5rem;
    /* background-size: 110% 110%; */
}
.icon:hover {
    background-color: rgba(200, 200, 200, 0.25);
}

.icon-contact-me {
    filter: invert(100%) saturate(0%) brightness(102%);
}

.icon-github {
    background: url('./assets/icon/github-original.svg');
}
.icon-twitter {
    background: url('./assets/icon/twitter-original.svg');
}
.icon-linkedin {
    background: url('./assets/icon/linkedin-plain.svg');
}
.icon-codepen {
    background: url('./assets/icon/codepen-original.svg');
}
.icon-phone {
    /* background: url('./assets/icon/github-original.svg'); */
}
.icon-email {
    /* background: url('./assets/icon/github-original.svg'); */
}